---
import MainLayout from "../layouts/MainLayout.astro";

const githubUsername = "winnietthepooh";
const twitterUsername = "Caden32Com";
const youtubeUrl = "https://www.youtube.com/channel/UCIwrI7e64rEkbiDSalxzqIQ";

let allPosts = await Astro.glob("../data/*.md");
allPosts = allPosts.sort((a, b) => {
	return (
		new Date(b.frontmatter.date).valueOf() -
		new Date(a.frontmatter.data).valueOf()
	);
});

const recentPosts = allPosts.slice(0, 2);
---

<MainLayout title="Caden's Blog">
	<main class="bg-gradient-to-t from-gray-300 to-gray-50 h-screen">
		<h1
			class="p-12 flex justify-center text-4xl underline decoration-gray-300 text-gray-600"
		>
			Top Projects
		</h1>
		<div class="flex justify-center">
			<div class="grid grid-cols-2 grid-rows-1 gap-4">
				<div
					class="card w-64 h-3/4 bg-gray-300 shadow-xl text-gray-700"
				>
					<figure class="px-4 pt-10">
						<img
							src="assets/hyauctionGopher.png"
							alt="golang gopher with a minecraft bandana on it's head"
							class="rounded-xl h-2/3 w"
						/>
					</figure>
					<div class="card-body items-center text-center">
						<h2 class="card-title">Hyauctions!</h2>
						<p>
							Golang application that automatically tracks
							"auctions" on mc.hypixel.net
						</p>
						<div
							class="badge bg-gray-200 text-gray-700 decoration-gray-400"
						>
							Golang
						</div>
						<a
							href="https://github.com/winnietthepooh/hypixel-auction-v4"
							class="bg-gray-200 p-2 mt-4 rounded-md"
							>Source Code</a
						>
					</div>
				</div>
				<div
					class="card w-64 h-3/4 bg-gray-300 shadow-xl text-gray-700"
				>
					<figure class="px-4 pt-10 mt-20 pb-6">
						<span class="text-3xl"
							>Caden<span
								class="text-gray-500 underline decoration-gray-400"
								>32</span
							>
						</span>
					</figure>
					<div class="card-body items-center text-center">
						<h2 class="card-title mt-4">Caden32.com!</h2>
						<p>My portfolio website with an accompanying blog</p>
						<div
							class="badge bg-gray-200 text-gray-700 decoration-gray-400"
						>
							Astro
						</div>
						<a
							href="https://github.com/winnietthepooh/blog"
							class="bg-gray-200 p-2 mt-4 rounded-md"
							>Source Code</a
						>
					</div>
				</div>
			</div>
		</div>
	</main>
</MainLayout>
